.post{
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.postHeader{
    display: flex;
    align-items: center;
    padding: 20px;
}

.postAvatar{
    margin-right: 10px;
}
.postImage{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.postText{
    font-weight: normal;
    padding: 20px
}
.postcommentbox{
    display: flex;
    margin-top: 10px;
}

.postinput{
    flex: 1;
    border:none;
    padding:10px;
    border-top:1px solid lightgray;
}

.postcomments{
    padding:20px;
}
.postbutton{
    flex: 0;
    border:none;
    border-top:1px solid lightgray;
    background-color: transparent;
    color: #6082a3;
}



