*{
  margin: 0;
}

/* .headerImage{
  object-fit:contain;
  background-color: white;

} */

.app{
  background-color:#fafafa;
  height: 100vh;
}

.header{
  background-color: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  padding: 20px;
}