*{
  margin: 0;
}

/* .headerImage{
  object-fit:contain;
  background-color: white;

} */

.app{
  background-color:#fafafa;
  height: 100%;
}

.appsignup{
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

